<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Bootstrap Example</title>
  </head>
  <style>
    body{
        background-color: lightblue;
    }
  </style>
  <body>
    
    

    <!-- Example Code -->
    
    <h2 align="center">Events</h2>
    <div class="row">&nbsp;
        {% for ct in data1 %}
        &nbsp;&nbsp;&nbsp;
    <div class="card text-bg-dark mb-3 text-center" style="max-width: 25rem;">
      <div class="card-header">{{ct.event_name}}</div>
      <div class="card-body">
        <h5 class="card-title">{{ct.event_name}}</h5>
        <h5 class="card-title">Date : {{ct.event_date}}</h5>
        <a href="#" class="btn btn-primary">Detail</a>
      </div>
    </div>&nbsp;
    {% endfor %}
</div>
    
    <!-- End Example Code -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>