{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts2/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css2/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css2/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css2/style.css' %}">

    <title>Courses</title>
  </head>
  {% include "admin_menubar.html" %}

  <body>

  <div class="content" style="background-color: #3c373e;">
    
    <div class="container">
      <h2 class="mb-5">Cources</h2>
      

      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead class="header">
            <tr>
              
              <th scope="col">Course Id</th>
              <th scope="col">Course Name</th>
              <th scope="col">Fee</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row">
                {% for ct in data1 %}
                      <td>{{ct.course_id}}</td>
                      <td>{{ct.course_name}}</td>
                      <td>{{ct.fee}}</td>
                      <td>{{ct.description}}</td>
                      <td><a href="/updatecourse/{{ct.course_id}}">Update</a></td>
                      <td><a href="/removecourse/{{ct.course_id}}">Remove</a></td>        
            </tr>
            {% endfor %}          
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <script src="{% static 'js2/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js2/popper.min.js' %}"></script>
    <script src="{% static 'js2/bootstrap.min.js' %}"></script>
    <script src="{% static 'js2/main.js' %}"></script>
  </body>
</html>